<!-- <div class="theater-container">
    <span>nome: {{ theater.name }}</span> 
    <span>cidade: {{ theater.cityName }}</span> <br>
    <span>UF: {{ theater.uf }}</span> <br>
    <span>endereço: {{ theater.address }}</span> <br>
    <span>bairro: {{ theater.neighborhood }}</span> <br>
    <span>número: {{ theater.number }}</span> <br>
    <span *ngFor="let telefone of theater.telephones">telefone: {{ telefone }}</span> <br>
    <span>Geo Location:{{ theater.geolocation | json }}</span> <br>
</div> -->

<div class="detalhes">
    <span>Propriedades: {{ theater.properties | json }}</span>    
    <span *ngIf="theater.properties.hasBomboniere">Possui</span>
</div>
