<section class="theater-banner"
    [style.background-image]=" (theater.id == '845') ? 'url(../../../../../../assets/img/theater/cinemark.jpg)' : 'url(../../../../../../assets/img/theater/kinoplex.jpg)'"
    [class.bg-center-top]="theater.id == '845'"
>

<div class="conteudo-banner">
        <span class="theater-name">{{ theater?.name }}</span>
        
        <img src="{{ theater.images![0].url }}" alt="">
        
        <div>
            <!-- <button class="btn-oc">MAPA</button> -->
            <app-theater-properties 
            [props]="theater.properties"
            (mapa)="abrirMapa()">
            </app-theater-properties>
        </div>

    </div>
</section>