<mat-sidenav-container class="sidenav-container">

  <!--SIDE NAV-->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-toolbar class="menu-bar">
      <span neonText primaryColor="white" [camadas]="2">
        Menu
      </span>

      <mat-icon class="sid-nav-closer"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        aria-label="Side nav toggle icon">
        close
      </mat-icon>

    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item
         routerLinkActive="rotaAtiva"
         routerLink="/home"
      >
        <img src="../../../../../../assets/svgs/home.svg" alt="">
        <!-- <i class="bi bi-house"></i> -->
        Página Inicial
      </a>

      <a mat-list-item
         routerLinkActive="rotaAtiva"
         routerLink="/theaters"
         [routerLinkActiveOptions]="{exact: true}"
      >
        <i class="bi bi-film"></i>
        Cinemas
      </a>

      <a mat-list-item
         routerLinkActive="rotaAtiva"
         routerLink="/movies/playing-movies"
      >
        <img src="../../../../../../assets/svgs/movie.svg" alt="">

        Em cartaz!
      </a>

      <a mat-list-item
         routerLinkActive="rotaAtiva"
         routerLink="/movies/comming-soon-movies"
      >
        <i class="bi bi-stars"></i>
        Em breve!
      </a>

      <a mat-list-item
         routerLinkActive="rotaAtiva"
         routerLink="/movies"
         [routerLinkActiveOptions]="{exact: true}"
      >
        <img src="../../../../../../assets/svgs/all-movies.svg" alt="">
        Todos os Filmes
      </a>

      <a mat-list-item
         routerLinkActive="rotaAtiva"
         routerLink="/movies/genres"
      >
        <img src="../../../../../../assets/svgs/genre.svg" alt="">
        Gêneros
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <!--HEADER-->
    <mat-toolbar class="header-bar" color="primary">

      <div class="logo-container">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a href="#"><img class="cineoz" src="../../../assets/svgs/logo.svg"></a>
      </div>

      <div *ngIf="authService.userData as user" class="user-box">
        <button  (click)="deslogar()">
          Logout
        </button>
        <img [src]="user.photoURL" routerLink="/user/perfil" class="user-photo">
      </div>
    </mat-toolbar>

    <!--AQUI ENTRA O CONTEÚDO QUE SERÁ EXIBIDO NA PAGINA ABAIXO DO HEADER-->
    <ng-content></ng-content>
    <!-- <app-footer></app-footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>
