<h1 style="font-size: 2rem; font-weight: 900; text-align: center; margin-top: 1rem;">
    TODOS OS FILMES (EM CARTAZ e EM BREVE) SEPARADOS POR GÊNERO
</h1>

<div class="select-genre" *ngIf="!hasQueryParam">
    <span style="display: block;">Gênero</span>
    <select name="generos" class="slct-oc" [(ngModel)]="filtroGenero">
        <option value="Todos">Todos</option>
        <option 
        *ngFor="let genero of generos" 
        value="{{ genero.name }}">{{ genero.name }} </option>
    </select>
</div>

<div *ngIf="hasQueryParam">
    <h1>Filmes encontrados com o gênero {{ filtroGenero }}:</h1>
    <!-- <span>Ver todos os gêneros</span> -->
    <button class="btn-oc" (click)="TodosGeneros()">Ver todos os gêneros</button>
</div>

<div *ngIf="!hasMovies && hasQueryParam">
    <app-genre-not-found></app-genre-not-found>
</div>

<div  *ngFor="let genero of obterGeneros()" class="genre-container">
    
    <h1 class="genre-title" neonText primaryColor="#fff" [camadas]="1"> 
        {{ genero.name }} 
    </h1>

    <app-movie-list [movies]="genero.movies" [filtros]="false"></app-movie-list>

</div>