<h1 style="font-size: 2rem; font-weight: 900; text-align: center; margin-top: 1rem;">
    TODOS OS FILMES (EM CARTAZ e EM BREVE) SEPARADOS POR GÊNERO
</h1>

<div>
    <span style="display: block;">Gênero</span>
    <select name="generos" [(ngModel)]="filtroGenero">
        <option value="Todos">Todos</option>
        <option 
        *ngFor="let genero of generos" 
        value="{{ genero.name }}">{{ genero.name }} </option>
    </select>
</div>

<div  *ngFor="let genero of obterGeneros()">
    
    <h1 style="font-size: 3rem; margin-bottom: 2rem; padding: 1rem 0.5rem;"> 
        {{ genero.name }} 
    </h1>

    <app-movie-list [movies]="genero.movies" [filtros]="false"></app-movie-list>

</div>