.img {
    height: 100%;
    width: auto;
}

carousel {
    z-index: 10;
}

.genre-title {
    padding: 1rem 0.5rem;

    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    border-bottom: 2px solid #333030;

    font-size: 3rem;
    font-family: 'Red Hat Display', sans-serif;
}

.genre-container {
    background-color: #1c1c1b;
    margin: 1.5%;
    padding-bottom: 2rem;
}

.select-genre{
    padding: 3rem;
}

.slct-oc {
    height: 2rem;
    background-color: #1f1f1f;
    border: none;
    border-bottom: 1px solid rgb(109, 109, 109);
    color: white;
    padding: 0 0.5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    // transition: all 0.1s;

    option:hover {
        background-color: rgba(255, 3, 104, 0.582);
    }
}

.slct-oc:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid rgb(109, 109, 109);
    border-right: 1px solid rgb(109, 109, 109);
    border-left: 1px solid rgb(109, 109, 109);
    border-bottom: none;
    // box-shadow: 0 0 2px 1px rgba(255, 3, 104, 0.582);
}

button.btn-oc {
    display: inline;
    font-size: 1rem;
    padding: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 1rem;
}