<!-- Filtros dos filmes -->


<div class="filtros-container" *ngIf="movies && movies.length > 0 && filtros">


    <button class="btn-oc" (click)="reverteArray()">
        <i class="bi bi-sort-alpha-down{{ sorting }}"></i>
    </button>
    <input type="text" class="ipt-txt-oc" [(ngModel)]="filtro">

</div>

<section class="all-movies-container">

    <div *ngFor="let movie of obterFilmes()" class="movie-container" (click)="AcessarFilme(movie.id)">

        <div class="movie-poster">
            <span *ngIf="movie.isPlaying != undefined && !movie.isPlaying" class="em-breve">Em Breve!</span>
            <img *ngIf="movie.images![0]?.type == 'PosterPortrait'" src="{{ movie.images![0]?.url }}">
            <img class="no-image"
                *ngIf="movie.images?.length == 0 || movie.images![0]?.type != 'PosterPortrait'"
                src="../../../../../../assets/img/no-movie.png"
            >
        </div>
    </div>
</section>
