.footer{
  justify-content:center;
  position: static;
  bottom:0;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.5;
  height: 40px;
}

.v-middle {
  vertical-align: middle;
}

img {
  opacity: 0.2;
  margin-left: 10px;
  max-height: 20px;
}

small {
  font-size: 12px;
}