<ngx-spinner></ngx-spinner>

<div class="cinemas">
    
  <div class="cinema-box" *ngFor="let theater of theaters?.items">
    
    <h1>{{ theater.name }}</h1>
    
    <img class="cinema" src="{{ theater.images![0].url }}" [routerLink]="['theater', theater.id]">
    
    <div class="theater-container">

      <span>
        <span class="infos">Endereço:</span> 
        {{ theater.address }} {{ theater.number }}, {{ theater.neighborhood }}
      </span>
      
      <br>
      
      <span *ngFor="let telefone of theater.telephones">
        <span class="infos">Telefone:</span> {{ telefone }}
      </span>
    </div>

  </div>

</div>

