.body{
    font-family: 'Red Hat Display', sans-serif;
}

h1{
  font-size: 40px;
  font-weight: 500;
  color: white;
  text-shadow: 0.06em 0.06em 0.06em #c2185c
}

span{
  margin-top: 10px;
  font-size: 1rem;
}

.infos{
  font-size: 1.3rem;
}

.cinemas {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  height: 85%;
}

.cinema {
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 30px;
}

.cinema:hover {
  transform: scale(1.05);
}

.itens-cinema {
  margin: 0 auto;
  margin-top: 10px;
}
