<!-- <p> {{ highlights | json }} </p> -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="titulo-home">
    <h1 class="pt-4 text-center">
      Bem-vindo
      <span class="span">ao Cineoz!</span>
    </h1>
    <h2 class="text-center">Aproveite o melhor do cinema em Osasco!</h2>
  </div>
  <img src="{{ movies[img].images![1].url }}" alt="">
  <a class="carousel-control-prev"  role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" (click)="mudarFilme(-1)"></span>
    <span class="sr-only"></span>
  </a>

  <a class="carousel-control-next" role="button" data-slide="next" (click)="mudarFilme(1)">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>
