<div class="sign-in-container">
  <div>
    <img class="img-poltrona" src="../../../../assets/svgs/poltrona_cinema.svg">
  </div>
  <div class="sign-in-box">

    <div class="authBlock">
      <h3>Entrar</h3>

      <div class="formGroup">
        <input type="text" class="ipt-txt-oc" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="ipt-txt-oc" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn-oc btn-oc-entrar" value="Entrar"
          (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div class="formGroup or">
        <span>Ou</span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <!-- <i class="fab fa-google-plus-g"></i> -->
        <div class="col-md-12" (click)="authService.GoogleAuth()">
          <a class="btn-oc btn-branco">
            <img src="https://img.icons8.com/color/16/000000/google-logo.png">
            Logar usando Google</a>
        </div>
      </div>
      
      <div id="info-adicional">
        <div>
          <div class="lbl-txt-oc">
            <span routerLink="/login/esqueci-a-senha">Esqueceu a senha?</span>
          </div>
        </div>
        <div class="lbl-txt-oc">
          <span routerLink="/login/cadastrar">Registrar-se</span>
        </div>
      </div>

    </div>
  </div>
