<!-- <div class="control_notfound">
    <div class="notfound">
        <h1>ERROR 404</h1>
        <h2>Page Not Founda!</h2>
        <img src="../../../../assets/img/not-found.jpg" >
    </div>
</div> -->
<!--
<div class="masthead text-black text-center">
  <div class="container">
      <div class="d-flex justify-content-center align-items-center">
          <div class="row">
              <div class="col">
                <h1>ERROR 404</h1>
                <h2>Página não encontrada!</h2>
              </div>
              <div class="col">
                <img src="../../../../assets/img/not-found.jpg" alt="imagem mulher procurando no celular">
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="fundo">
  <div class="container">
    <div>
      <!-- <h1 class="text-white playful">404</h1> -->
      <h1 class="playful" aria-label="404">
        <span aria-hidden="true">4</span>
        <span aria-hidden="true">0</span>
        <span aria-hidden="true">4</span>
    </h1>
    </div>
    <div class="d-flex justify-content-center">
      <div class="col-lg-12 mt-5">
        <img src="../../../../assets/img/not-found.jpg" alt="imagem mulher procurando no celular">
        <p>Oops! Algo deu errado, mas não chore! É só um erro 404!</p>
        <a class="btn-oc" href="#"><i class="icon-home"></i> Volte a página principal</a>
      </div>
    </div>
  </div>
</div>

