<h1>{{ theater?.name }}</h1>
<!-- 
<section *ngIf="theater">
    <app-theater-details [theater]="theater"></app-theater-details>
</section> -->

<div class="select-area">
    <select name="dia" [(ngModel)]="dia" class="slct-oc">
        <option value="Todos">Todos</option>

        <option *ngFor="let session of sessions" 
        value="{{ session?.dayOfWeek }}">
            {{ session?.dayOfWeek }} - {{ session?.dateFormatted }}
        </option>
    </select>
</div>

<mat-tab-group>
    <mat-tab *ngFor="let session of obterSessoes()" label="{{ session.dayOfWeek }} {{ session.dateFormatted}}">
        <app-movie-list 
            [movies]="session?.movies!" 
            [filtros]="false"
            [queryParams]="true"
            [theater]="theaterid"
            [date]="session.dateFormatted">
        </app-movie-list>
    </mat-tab>
</mat-tab-group>