<div class="sign-in-container">
  <div class="sign-in-box">

    <div>
      <h3>Obrigado por se registrar!</h3>

      <div *ngIf="authService.userData as user">
        <span class="text-center">Nós mandamos um e-mail de verificação para <strong>{{user.email}}</strong>.</span><br>
        <span class="text-center"> Por favor, olhe sua caixa de e-mail e clique no link de verificação.</span>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div>
        <button type="button" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Reenviar e-mail de verificação
        </button>
      </div>

      <div class="info-adicional">
        <div class="lbl-txt-oc">
          <span routerLink="/login">Voltar ao Login?</span>
        </div>
      </div>

    </div>
  </div>
</div>